/*Feuille de style pour les écrans inférieurs à 1280px*/

@media screen and (min-width:700px) and (max-width:1280px) {
    #conteneur {
        display: flex;
        flex-direction: column; border: 1px solid #212121; width: 900px; margin:auto;
    }
    #aside {
        display: flex;
        flex-flow: column wrap; justify-content: space-around;
        background-color: #ff5722;          
    }

    .propos:nth-of-type(3) {
        flex-grow: 1;
    }

    .photo {
        text-align: center;
    }

    .coordonnees {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .loisirs:nth-of-type(4) {
        flex-shrink: 1;
    }

    .guitar {
        border-radius: 10px 10px 10px 10px;
        border: 1px solid black;
    }

    .running {
        border-radius: 10px 10px 10px 10px;
        border: 1px solid black;
    }

    .compass {
        border: 1px solid black;
        border-radius: 10px 10px 10px 10px;
    }

    h2 {        
        border-bottom: 1px solid #212121;
        background-color: #90caf9;
        text-align: center;
    }
    h1{text-align:center;}
    h3{text-decoration:underline; text-align:center;}
    .titre{text-shadow:2px 2px 2px #212121;}
    ul {
        list-style: none;
    }

    .loisirs {
        display: flex;
        flex-direction: column;
    }

    .sport {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
    }

    #section {
        display: flex;
        flex-direction: column;
        padding-left: 5%;
        background-color: #90caf9;
    }

    #texte {
        display: flex;
        flex-direction: column;
        padding-right: 5px;
    }

    #formations {
        display: flex;
        flex-direction: column;
    }

    .soustitre {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: flex-end;
    }

    .form {
        display: flex;
        flex-direction: column;
    }

    .openclassrooms {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }

    .amtv {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }

    .cefam {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }
    abbr{text-decoration:none;}

    #experiences {
        display: flex;
        flex-direction: column;
    }

    .pro {
        display: flex;
        flex-direction: column;
    }

    .pro1 {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }

    .pro2 {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }

    .pro3 {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }

    #recommandations {
        display: flex;
        flex-direction: column;
    }

    .gaetan {
        width: 50%;
    }

    .mentors {
        display: flex;
        flex-direction: row;
    }

    .annee {
        width: 30%;
    }

    h3 {
        text-decoration: underline;
        text-align: center;
        width: auto;
    }
    a{text-decoration:none; color: black;}
    a:hover{ font-size:1.2em; color:#663300;}
    a:visited{color:#666666;}
    i{font-size:1.3em;}

    
    .guitar{    border-radius: 10px 10px 10px 10px;
        border: 1px solid black;
    }
    .running {
        border-radius: 10px 10px 10px 10px;
        border: 1px solid black;
    }
    .compass {
        border: 1px solid black;
        border-radius: 10px 10px 10px 10px;
    }
    p{font-size:1.1em;}

}
